<a href="/createCategory">Create Category</a>
<% if (message.length > 0) { %>
<p class="alert alert-success"><%= message %></p>
<% } %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% var stt = 1; listCat.forEach((item)=> { %>
    <tr>
      <th scope="row"><%= stt %></th>
      <td><a href="/editCategory/<%= item._id %>"><%= item.name %></a></td>
      <td><%= item.description %></td>
      <td><%= item.status %></td>
    </tr>
    <% stt++; }) %>
  </tbody>
</table>
